header {
	background: #BBBBBB;
	padding: 20px 0; 
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0px;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

.produtos {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0; /*melhorando o posicionamento, criando uma margem*/
}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 30%; /*largura divida igualmente nos produtos (1/3)*/
	vertical-align: top; /*alinhando pela linha de cima*/
	/*background: #CCCCCC; tinha sido adicioando apenas como visuzalição do elemento */
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box; /*corrigindo a proporção de largura dos elementos + padding. O padding (20px) agora está dentro da largura do item (30%)*/
}

.produtos h2 {
	font-size: 30px;
	font-weight: bold;
}

.produto-descricao {
	font-size: 18px;
}

.produto-preco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}

