body {
	font-family: 'Montserrat', sans-serif; /*vai aplicar a fonte Montserrat para todo o conteúdo do site, e a alternativa pra ela a sans-serif (padrão) */
}

header {
	background: #BBBBBB;
	padding: 20px 0; 
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute; /*pode ser posicionado em qualquer lugar da página*/
	top: 110px;
	right: 0px;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover { /*quando o mouse estiver sobre o link de navegação*/
	color: #C78C19;
	text-decoration: underline; /*sublinhado*/
}

.produtos {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0; /*melhorando o posicionamento, criando uma margem interna superior e inferior*/
}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 30%; /*largura divida igualmente nos produtos (1/3)*/
	vertical-align: top; /*alinhando pela linha de cima*/
	/*background: #CCCCCC; tinha sido adicioando apenas como visuzalição do elemento */
	margin: 0 1.5%; /*margem de 1.5% nas laterais direita e esquerda*/
	padding: 30px 20px;
	box-sizing: border-box; /*corrigindo a proporção de largura dos elementos + padding. O padding (20px) agora está dentro da largura do item (30%)*/
	border: 2px solid #000000; /*tamanho - tipo - cor da borda*/
	border-radius: 10px; /*arredondamento da borda com círculo de raio 10px*/
}

.produtos li:hover { /*quando o mouse estiver em cima dos itens da lista*/
	border-color: #C78C19;
}


.produtos li:active { /*quando clicar em algum produto da lista*/
	border-color: #088C19
}

.produtos li:hover h2 { /* quando o mouse estiver em cima de um produto da lista, alterar a propriedade do h2 (especificada abaixo)*/
	font-size: 40px;
}

.produtos h2 {
	font-size: 30px;
	font-weight: bold;
}

.produto-descricao {
	font-size: 18px;
}

.produto-preco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}

footer { /*rodapé*/
	text-align: center;
	background: url("bg.jpg"); /*inserção de imagem de fundo*/
	padding: 40px 0;
}

.copyright { /*configurando o texto do rodapé*/
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0;
}

main { /*melhorando o espaçamento do formulário todo, que está inserido no main*/
	
}

form { /* inserindo margem para que tenha um espaço entre o cabeçalho e o rodapé.*/
	margin: 40px 0;
}

form label, form legend { /*Como padrão o form é display:inline. Alterando aqui para block, 
	para que ocupe a largura toda da página e fique cada um em uma só linha*/
	display: block;
	font-size: 20px;
	margin: 0 0 10px; /*margem (espaçamento externo) para baixo de 10px;*/
}

.input-padrao { /* Antes era "form input, form textarea{" fazendo com que o textarea tenha as mesmas configurações do input*/
	display: block;
	margin: 0 0 20px;
	padding: 10px 15px; 
	width: 50%;
}

.checkbox { /*Adicionando espaçameno superior e inferior do checkbox, para descolar dos itens*/
	margin: 20px 0; 
}

.enviar {
	width:40%;
	padding:  15px 0;
	background: orange;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none; /*retirando a borda padrão*/
	border-radius: 5px;
	/*transition: 1s background; /*fazendo com que a transição de cores seja mais suave e não instantânea*/
	transition: 1s all; /*alterado para que atinja todas as alterações, com o transform abaixo*/
	cursor: pointer; /*alterando o cursor para a "mãozinha", mostrando que é clicável*/
}

.enviar:hover {
	background: darkorange;
	transform: scale(1.2);
}

table {
	margin: 20px 40px; /*espaçando do botão e do rodapé*/

}

thead {
	background: #555555;
	color: white;
	font-weight: bold;
}

td, th {
	border: 1px solid #000000;
	padding: 8px 15px;
}

/* css da página inicial */
.banner {
	width: 100%;
}

.titulo-principal {
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em; /*margem do mesmo tamanho da fonte dela, que é 2x tamanho padrão. */
	clear: left; /* limpa o float a esquerda */
}

.titulo-principal:before {
	content:"[ ";
}

.titulo-principal:after {
	content: " ]";
}

.principal {
	padding: 3em 0;
	background: #FEFEFE;
	width: 940px;
	margin: 0 auto;
}

.principal p {
	margin: 0 0 1em;
}

.principal strong {
	font-weight: bold;
}

.principal em {
	font-style: italic;
}

.utensilios {
	width: 120px;
	float: left;
	margin: 0 20px 20px 0; /* cima, direta, baixo, esquerda */
}

.mapa {
	padding: 3em 0; /* tamanho proporcional à fonte do site */
	background: linear-gradient(#FEFEFE, #888888);
}

.mapa p {
	margin: 0 0 2em;
	text-align: center;
}

.mapa-conteudo {
	width: 940px;
	margin: 0 auto;
}

.beneficios {
	padding: 3em 0;
	background: #888888;
}

.conteudo-beneficios {
	width: 640px;
	margin: 0 auto;
}

.lista-beneficios {
	width: 40%;
	display: inline-block; /* para os conteúdos a lista não ocuparem a largura toda a página (inline) */
	vertical-align: top;
}

.itens {
	line-height: 1.5em; /* espaçamento entre linhas */
}

.itens:first-child { /* apenas o primeiro item */
	font-weight: bold;
}

.itens:before {
	content: "🟊 ";
}

.imagem-beneficios {
	width: 60%;
}

.video {
	width: 560px;
	margin: 2em auto; /* vai centralizar o vídeo */
}